body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 700px;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #2555AA;
  margin-bottom: 0px;
}
select {
  display: block;
  margin: 10px auto;
  width: 50%;
  height: 30px;
  text-align: center;
  border-radius: 5px;
}
label {
  display: block;
  width: 50%;
  padding: 5px;
  font-weight: bold;
  color: #2555AA;
  font-size: 23px;
  margin: 0px auto;
}
#deviceIP {
  display: block;
  margin: 10px auto;
  width: 30%;
  height: 30px;
  text-align: center;
  border-radius: 5px;
}
button {
  border: none;
  background-color: #2555AA;
  color: white;
  border-radius: 10px;
  height: 30px;
  font-weight: bold;
}

button:hover {
  background-color: #306cd5;
}

#firmwareList {
  margin: 10px auto;
  width: 80%;
}

#firmwareList table {
  width: 100%;
  border-collapse: collapse;
}

#firmwareList th, #firmwareList td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

#firmwareTable td:nth-child(2) {
  width: 50%;
  text-align: justify;
}

a {
  display: block;
  margin: 10px;
  color: #2555AA;
  text-decoration: none;
}

.serialContainer {
  display: flex;
  justify-content: center;
}

#serialMonitor {
  border-radius: 10px;
  margin: 30px auto; 
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f7f7f7;
  width: 800px;
  max-width: 800px;
  height: 550px;
}

#serialOutput {
  border-radius: 10px;
  white-space: pre-wrap;
  word-break: break-word;
  height: 350px;
  max-height: 350px;
  overflow: scroll;
  background: #000000;
  color: #0f0;
  padding: 10px;
  font-family: monospace;
  text-align: left;
}

#serialInput {
  width: 50%;
  height: 30px;
  border-radius: 10px;
}

#sendSerialBtn {
  height: 36px;
  width: 50px;
}