body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 700px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

h1 {
  color: #2555AA;
  margin-bottom: 0px;
}

label {
  display: block;
  width: 50%;
  padding: 5px;
  font-weight: bold;
  color: #2555AA;
  font-size: 23px;
  margin: 0px auto;
}

select {
  display: block;
  margin: 10px auto;
  width: 50%;
  padding: 5px;
}

select {
  text-align: center;
  border-radius: 5px;
}

button {
  background-color: #2555AA;
  color: white;
  border-radius: 10px;
  height: 30px;
  font-weight: bold;
}

button:hover {
  background-color: #306cd5;
}

#firmwareList {
  margin: 10px auto;
  width: 50%;
}

#firmwareList table {
  width: 100%;
  border-collapse: collapse;
}

#firmwareList th, #firmwareList td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

a {
  display: block;
  margin: 10px;
  color: #2555AA;
  text-decoration: none;
}